[submodule "extensions/malterlib"]
	path = extensions/malterlib
	url = https://github.com/Malterlib/MalterlibVSCode.git
	branch = master
[submodule "extensions/vscode-clangd"]
	path = extensions/vscode-clangd
	url = https://github.com/Unbroken/vscode-clangd.git
	branch = master
[submodule "extensions/codelldb"]
	path = extensions/codelldb
	url = https://github.com/Unbroken/codelldb.git
	branch = master
