/*
https://raw.githubusercontent.com/isagalaev/highlight.js/master/src/styles/vs2015.css
*/
/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */


.hljs-keyword,
.hljs-template-tag,
.hljs-meta,
.hljs-meta-keyword,
.hljs-subst,
.hljs-formula {
	color: color(display-p3 1 1 1);
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet {
	color: color(display-p3 1 0.541 0.773);
}

.hljs-name,
.hljs-tag,
.hljs-selector-tag {
	color: color(display-p3 0.835 0.412 0.333);
}
.hljs-link {
	color: color(display-p3 0 0.62 1);
	text-decoration: underline;
}

.hljs-built_in {
	color: color(display-p3 0.149 1 0);
}

.hljs-builtin-name {
	color: color(display-p3 1 0.349 0.4);
}

.hljs-type,
.hljs-class {
	color: color(display-p3 0.722 0.667 1);
}

.hljs-number {
	color: color(display-p3 1 0 0.502);
}

.hljs-string,
.hljs-meta-string,
.hljs-regexp {
	color: color(display-p3 0 0.62 1);
}

.hljs-function,
.hljs-title {
	color: color(display-p3 0.149 1 0);
}

.hljs-params {
	color: color(display-p3 0.902 1 0);
}

.hljs-comment,
.hljs-quote,
.hljs-doctag {
	color: color(display-p3 0.537 0.537 0.537);
	font-style: italic;
}

.hljs-variable,
.hljs-template-variable {
	color: color(display-p3 1 0.843 0);
}

.hljs-attr,
.hljs-attribute,
.hljs-selector-attr {
	color: color(display-p3 1 0.651 0);
}

.hljs-section {
	color: color(display-p3 1 0.843 0);
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}

/*.hljs-code {
	font-family:'Monospace';
}*/

.hljs-selector-class {
	color: color(display-p3 0.722 0.667 1);
}

.hljs-selector-id {
	color: color(display-p3 1 0.843 0);
}

.hljs-selector-pseudo {
	color: color(display-p3 0.51 0.412 1);
}

.hljs-addition {
	background-color: var(--vscode-diffEditor-insertedTextBackground, color(display-p3 0 1 0.082 / 0.2));
	color: color(display-p3 0 1 0.082);
	display: inline-block;
	width: 100%;
}

.hljs-deletion {
	background: var(--vscode-diffEditor-removedTextBackground, color(display-p3 1 0.149 0 / 0.2));
	color: color(display-p3 1 0.149 0);
	display: inline-block;
	width: 100%;
}


/*
From https://raw.githubusercontent.com/isagalaev/highlight.js/master/src/styles/vs.css
*/
/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/

.vscode-light .hljs-function,
.vscode-light .hljs-params,
.vscode-light .hljs-number,
.vscode-light .hljs-class  {
	color: inherit;
}

.vscode-light .hljs-comment,
.vscode-light .hljs-quote,
.vscode-light .hljs-number,
.vscode-light .hljs-class,
.vscode-light .hljs-variable {
	color: #008000;
}

.vscode-light .hljs-keyword,
.vscode-light .hljs-selector-tag,
.vscode-light .hljs-name,
.vscode-light .hljs-tag {
	color: #00f;
}

.vscode-light .hljs-built_in,
.vscode-light .hljs-builtin-name {
	color: #007acc;
}

.vscode-light .hljs-string,
.vscode-light .hljs-section,
.vscode-light .hljs-attribute,
.vscode-light .hljs-literal,
.vscode-light .hljs-template-tag,
.vscode-light .hljs-template-variable,
.vscode-light .hljs-type {
	color: #a31515;
}

.vscode-light .hljs-subst,
.vscode-light .hljs-selector-attr,
.vscode-light .hljs-selector-pseudo,
.vscode-light .hljs-meta,
.vscode-light .hljs-meta-keyword {
	color: #2b91af;
}
.vscode-light .hljs-title,
.vscode-light .hljs-doctag {
	color: #808080;
}

.vscode-light .hljs-attr {
	color: #f00;
}

.vscode-light .hljs-symbol,
.vscode-light .hljs-bullet,
.vscode-light .hljs-link {
	color: #00b0e8;
}


.vscode-light .hljs-emphasis {
	font-style: italic;
}

.vscode-light .hljs-strong {
	font-weight: bold;
}
